/* #Quizpage{
    background-color: rgb(12, 12, 65);
height: 100%;
width: 100%;
/* margin-left: 150px;
margin-right: -10px; */
/* margin-top: 20px;
color: white;
}  */
body{
    box-sizing: border-box;
}

